<div class="main-content">
    <div class="panel panel-primary">
    <div class="panel-heading ">
        <div class="row">
            <div class="col-md-7">
                <h4 class="white"> Scenario Details :
<!--                    {{scnData.ScenId}} -->
                </h4>
            </div>
<!--            <div class="col-md-5 ">-->
<!--                <div class="pull-right">-->
<!--                    <button ng-show="scnData.Status =='ACTIVE'" type="button" class="btn btn-default btn-sm"-->
<!--                            (click)="deactivateScenario();">De Activate</button>-->
<!--                    <button ng-show="scnData.Status =='ACTIVE'" type="button" class="btn btn-default btn-sm"-->
<!--                            (click)="saveScenario();">Save</button>-->
<!--                    <button ng-show="scnData.Status =='INACTIVE'" type="button" class="btn btn-default btn-sm"-->
<!--                            (click)="activateScenario();">Activate</button>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
    <div class="panel-body">
        <form name="outerForm" class="tab-form-demo">
            <div class="form-group row">
                <label class="col-lg-3 control-label">Name</label>
                <div class="col-lg-5">
<!--                    {{scnData.Name }}-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label">Created Date</label>
                <div class="col-lg-5">
<!--                    {{scnData.CrtDate}}-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label">Modified Date</label>
                <div class="col-lg-5">
<!--                    {{scnData.LstModDate}}-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label">Modified User</label>
                <div class="col-lg-5">
<!--                    {{scnData.LstModUser}}-->
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label">Long Description</label>
                <div class="col-lg-5">
                    <input type="text"  name="LongDesc" class="form-control" id="LongDesc" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label">Short Description</label>
                <div class="col-lg-5">
                    <input type="text" name="ShortDesc"  class="form-control" id="ShortDesc" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label">Status</label>
                <div class="col-lg-5">
                    <input type="text" name="Status" class="form-control" id="Status" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label">Type</label>
                <div class="col-lg-5">
                    <input type="text" name="ScenarioType"  class="form-control" id="ScenarioType" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label">Category</label>
                <div class="col-lg-5">
                    <input type="text" name="Catg" class="form-control" id="Catg" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label">Sub Category</label>
                <div class="col-lg-5">
                    <input type="text" name="SubCatg"  class="form-control" id="SubCatg" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label">Freq</label>
                <div class="col-lg-5">
                    <input type="text" name="Freq"  class="form-control" id="Freq" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label">AutoSupp</label>
                <div class="col-lg-5">
                    <input type="text" name="AutoSupp"  class="form-control" id="AutoSupp" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label">LookBack</label>
                <div class="col-lg-5">
                    <input type="text" name="LookBack"  class="form-control" id="LookBack" value="">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-3 control-label">SuppDur</label>
                <div class="col-lg-5">
                    <input type="text" name="SuppDur"  class="form-control" id="SuppDur" value="">
                </div>
            </div>
        </form>
    </div>
</div>
