<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Configuration</h4>
                        <div class="row">
                            <!--<div class="pull-left">
                                <div class="form-group">

                                    <button (click)="editRow()" [disabled]="!rowsSelected()">
                                        <i class="fa fa-edit"></i> Edit
                                    </button>
                                    <button (click)="deleteSelectedRows()" [disabled]="!rowsSelected()">
                                        <i class="fa fa-trash"></i> Delete
                                    </button>
                                </div>
                            </div>-->
                            <div class="pull-right">
                                <label> File Name:
                                    <input type="text" id="fileName" style="margin-left: 5px"
                                           [(ngModel)]="fileName"></label>
                                <button class="btn-default" style="margin-left: 5px" (click)="onBtExport()">
                                    <i title="CSV" class="pe-7s-download"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="content">
                        <form action="">
                            <ag-grid-angular
                                #agGrid
                                style="width: 100%; height: 500px;"
                                id="myGrid"
                                class="ag-theme-balham"
                                [modules]="modules"
                                [columnDefs]="columnDefs"
                                [defaultColDef]="defaultColDef"
                                [sideBar]="sideBar"
                                [rowData]="rowData"
                                [rowSelection]="rowSelection"
                                [pagination]="true"
                                [paginationPageSize]="paginationPageSize"
                                [gridOptions]="gridOptions"
                                [floatingFilter]="true"
                                [allowContextMenuWithControlKey]="true"
                                [getContextMenuItems]="getContextMenuItems"
                                (gridReady)="onGridReady($event)"
                                (cellDoubleClicked)="onCellDoubleClicked($event)"
                            ></ag-grid-angular>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal backdrop" id="close_popup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="height: 70px;">
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                            aria-hidden="true">&times;</span></button>
                           <h4 class="modal-title">Close Alert</h4>   
                </div>
                <div class="modal-body">
                    <div class="row">
                       <div style="padding: 10px">
                           <label>Close Reason:</label>
                           <select class="form-control">
                               <option value="reason1">Alert Close Reason 1</option>
                               <option value="reason2">Alert Close Reason 2</option>
                               <option value="reason3">Alert Close Reason 3</option>
                           </select>
                       </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                       
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal !-->

    <div class="modal backdrop" id="route_popup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="height: 70px;">
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                            aria-hidden="true">&times;</span></button>
                           <h4 class="modal-title">Route Alert</h4>   
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div style="padding: 10px">
                            <label>Select User id:</label>
                            <select class="form-control">
                                <option value="reason1">Alert Close Reason 1</option>
                                <option value="reason2">Alert Close Reason 2</option>
                                <option value="reason3">Alert Close Reason 3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                       
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal !-->

    <div class="modal backdrop" id="add_case" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="height: 70px;">
                    <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                            aria-hidden="true">&times;</span></button>
                           <h4 class="modal-title">Select a Case</h4>   
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div style="padding: 10px">
                            <label>Select case id:</label>
                            <input type="text" class="form-control" name="case_id">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
                       
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal !-->
</div>

